################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Alexa.Skill.MySkill
/Alexa.Skill.MySkill/obj
/Alexa.Skill.MySkill/bin/Debug/netcoreapp2.2
